@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@600&display=swap');

html {
  font-family: 'Shippori Mincho', Georgia, "Times New Roman", Times, Roman, serif;
  font-size: 1.125em; 
  line-height: 1.55555em; 
  padding: 1.55555em; 
  background-color: #818181;
}
fieldset{
  border-color: transparent;
}

#content {
  border-color: transparent;
  background-color: #b4b3b3
}

h1 {
  font-size: 1.75em; 
  font-weight: bolder;
  padding-top: 1em; 
  padding-bottom: 1.25em; 
}

label {
  display: block;
  padding-bottom: 0.5em; 
}

li {
  padding-bottom: .75em; 
  text-align: center;
}

[type="date"] {
  padding-bottom: 0.5em; 
}

button, input {
  font-family: 'Shippori Mincho', Georgia, "Times New Roman", Times, Roman, serif;
  border-color: transparent;
  background-color: #606161;
  overflow: visible;
}

@media screen and (min-width: 336px) {
  #wrap {
    display: inline-block;
    justify-content: left;
  }
}

@media screen and (min-width: 580px) {
  html {
    display: inline-block;
    justify-content: center;
    text-align: center;
  }
}